In [1]:
import pandas as pd
import numpy as np

In [16]:
#import googlespreadsheet from survey

googlecsv = pd.read_csv('../data/survey041418.csv')
googlecsv.head()

,Timestamp,Enter your e-mail address below and take this 1 minute survey for a chance to win a $50 Visa Gift Card (optional),What is your work zip code?,What is your home zip code?,What establishment did you get your last haircut?,"What city, state did you get your last haircut?",Gender,Age,Race,Income,...,Did you buy any products after your haircut?,How much did you spend on your haircut?,What is the most you would spend on a haircut?,How did you find your current barber?,"Do you leave reviews on Yelp, Google, Etc?","How important is Price ( 1 = not important, 5 = very important)","How important is Convenience( 1 = not important, 5 = very important)","How important is Atmosphere( 1 = not important, 5 = very important)","How important are Additional Services ( 1 = not important, 5 = very important)",Any other comments
0,4/10/2018 22:20:42,fsalvador79@gmail.com,92614,92614,Dankcuts,Laguna Hills,Male,38.0,Asian / Pacific Islander,"Less than $25,000",...,No,40 +,41 - 50,Yelp,Yes,4,4,4,1,NaN
1,4/11/2018 11:53:06,NaN,92660,92677,Salon,Mission Viejo,Male,34.0,White,"$75,000 to $99,999",...,No,40 +,61 - 70,Referral,No,5,3,3,1,Ability of the stylist is very important.
2,4/10/2018 20:48:14,NaN,92612,92602,Sheer Bliss,Tustin,Female,35.0,White,"$50,000 to $74,999",...,Yes,40 +,200,Yelp,No,5,5,4,4,NaN
3,4/10/2018 22:22:42,NaN,92620,92780,18/8,"Irvine, ca",Male,35.0,Asian / Pacific Islander,"$50,000 to $74,999",...,Yes,40 +,51 - 60,Yelp,Sometimes,3,5,4,4,NaN
4,4/11/2018 15:00:28,rlpeterson@gmail.com,97205,97205,Rudy's,"Portland, OR",Male,38.0,White,"$50,000 to $74,999",...,No,40 +,41 - 50,Google,Sometimes,4,2,3,2,NaN

In [93]:
# gender numeric legend
gender_scale = pd.DataFrame({
    'gender':['Male','Female','Other',''],
    'gender_values':['1','0','2','1']
})
gender_scale

   gender gender_values
0    Male             1
1  Female             0
2   Other             2
3                     1

In [94]:
# race numeric legend
race_scale = pd.DataFrame({
    'race':['Asian / Pacific Islander',
'Black or African American',
'Hispanic or Latino',
'White',
'Other',''
],
    'race_values':[1,2,3,4,5,5]
})
race_scale

                        race  race_values
0   Asian / Pacific Islander            1
1  Black or African American            2
2         Hispanic or Latino            3
3                      White            4
4                      Other            5
5                                       5

In [95]:
#income numeric legend
income_scale = pd.DataFrame({
    'income':['','Less than $25,000',
'$25,000 to $34,999',
'$35,000 to $49,999',
'$50,000 to $74,999',
'$75,000 to $99,999',
'$100,000 to $149,999',
'$150,000 to $199,999',
'$200,000 or more'
], 'income_values':[0,1,2,3,4,5,6,7,8]})

income_scale

                 income  income_values
0                                    0
1     Less than $25,000              1
2    $25,000 to $34,999              2
3    $35,000 to $49,999              3
4    $50,000 to $74,999              4
5    $75,000 to $99,999              5
6  $100,000 to $149,999              6
7  $150,000 to $199,999              7
8      $200,000 or more              8

In [68]:
# days since last haircut numeric legend
days_last_scale = pd.DataFrame({
    'days_last_haircut':['','1 week',
'2 weeks',
'3 weeks',
'1 month',
'2 months ago',
'6 weeks',
'3+ months',
'other'
],'days_last_values':[0,1,2,3,4,5,6,7,8]
})

days_last_scale

  days_last_haircut  days_last_values
0                                   0
1            1 week                 1
2           2 weeks                 2
3           3 weeks                 3
4           1 month                 4
5      2 months ago                 5
6           6 weeks                 6
7         3+ months                 7
8             other                 8

In [72]:
# time between haircuts numeric legend
time_between_scale = pd.DataFrame({
    'time_between_haircut':['','1 week',
'2 weeks',
'3 weeks',
'1 month',
'2 months ago',
'6 weeks',
'3+ months',
'other'
],'time_between_values':[0,1,2,3,4,5,6,7,8]
})

time_between_scale

  time_between_haircut  time_between_values
0                                         0
1               1 week                    1
2              2 weeks                    2
3              3 weeks                    3
4              1 month                    4
5         2 months ago                    5
6              6 weeks                    6
7            3+ months                    7
8                other                    8

In [113]:
# purchased products numeric legend
products_scale = pd.DataFrame({'products':['Yes','No'],
                               'products_values':[1,0]
                              })
products_scale

  products  products_values
0      Yes                1
1       No                0

In [114]:
# how much spent numeric scale
spend_scale = pd.DataFrame({
    'did_spend':['','10',
'11 - 20',
'21 - 30',
'31 - 40',
'40 +',
'other',
],
    'spend_values':[0,1,2,3,4,5,0]
})

spend_scale

  did_spend  spend_values
0                       0
1        10             1
2   11 - 20             2
3   21 - 30             3
4   31 - 40             4
5      40 +             5
6     other             0

In [115]:
# max spend numeric scale
max_spend_scale = pd.DataFrame({
    'max_spend':['','10',
'11 - 20',
'21 - 30',
'31 - 40',
'41 - 50',
'51 - 60',
'61 - 70',
'other',
],
    'max_spend_values':[0,1,2,3,4,5,6,7,8]
})
max_spend_scale

  max_spend  max_spend_values
0                           0
1        10                 1
2   11 - 20                 2
3   21 - 30                 3
4   31 - 40                 4
5   41 - 50                 5
6   51 - 60                 6
7   61 - 70                 7
8     other                 8

In [98]:
# how find shop numeric scale
how_find_scale = pd.DataFrame({
    'how_find':['','Walk in',
'Referral',
'Yelp',
'Google',
'Facebook',
'other'],
    'how_find_values':[0,1,2,3,4,5,6]
})
how_find_scale

   how_find  how_find_values
0                          0
1   Walk in                1
2  Referral                2
3      Yelp                3
4    Google                4
5  Facebook                5
6     other                6

In [99]:
# leave a review numeric scale
review_scale = pd.DataFrame({
    'leave_review':['Yes','No','Sometimes'],
    'review_values':[1,2,3]
})

review_scale

  leave_review  review_values
0          Yes              1
1           No              2
2    Sometimes              3

In [74]:
# resave dataframe with relative columns
googledf = googlecsv[['What is your work zip code?','What is your home zip code?','Gender','Age','Race','Income','How long since your last haircut?','How long between typical haircuts?','Did you buy any products after your haircut?','How much did you spend on your haircut?','What is the most you would spend on a haircut?','How did you find your current barber?','Do you leave reviews on Yelp, Google, Etc? ','How important is Price ( 1 = not important, 5 = very important)','How important is Convenience( 1 = not important, 5 = very important)','How important is Atmosphere( 1 = not important, 5 = very important)','How important are Additional Services ( 1 = not important, 5 = very important)']]

In [75]:
# rename columns to match numeric scale legends
googledf.columns = ['work_zip','home_zip','gender','age','race','income','days_last_haircut','time_between_haircut','products','did_spend','max_spend','how_find','leave_review','price','convenient','atmosphere','amenities']

In [77]:
# udpated dataframe
googledf.head()

,work_zip,home_zip,gender,age,race,income,days_last_haircut,time_between_haircut,products,did_spend,max_spend,how_find,leave_review,price,convenient,atmosphere,amenities
0,92614,92614,Male,38.0,Asian / Pacific Islander,"Less than $25,000",1 week,3 weeks,No,40 +,41 - 50,Yelp,Yes,4,4,4,1
1,92660,92677,Male,34.0,White,"$75,000 to $99,999",6 weeks,3+ months,No,40 +,61 - 70,Referral,No,5,3,3,1
2,92612,92602,Female,35.0,White,"$50,000 to $74,999",1 year,3+ months,Yes,40 +,200,Yelp,No,5,5,4,4
3,92620,92780,Male,35.0,Asian / Pacific Islander,"$50,000 to $74,999",1 week,3 weeks,Yes,40 +,51 - 60,Yelp,Sometimes,3,5,4,4
4,97205,97205,Male,38.0,White,"$50,000 to $74,999",1 week,6 weeks,No,40 +,41 - 50,Google,Sometimes,4,2,3,2

In [116]:
# merge legend tables with current dataframe to have all items in numeric terms for prediction model
legendDF = googledf.merge(gender_scale, on='gender',how='left')
legendDF2 = legendDF.merge(race_scale, on='race',how='left')
legendDF3 = legendDF2.merge(income_scale, on='income', how='left')
legendDF4 = legendDF3.merge(days_last_scale, on='days_last_haircut',how='left')
legendDF5 = legendDF4.merge(time_between_scale, on='time_between_haircut',how='left')
legendDF6 = legendDF5.merge(products_scale, on='products',how='left')
legendDF7 = legendDF6.merge(spend_scale, on='did_spend',how='left')
legendDF8 = legendDF7.merge(max_spend_scale, on='max_spend',how='left')
legendDF9 = legendDF8.merge(how_find_scale, on='how_find',how='left')
legendDF_final = legendDF9.merge(review_scale, on='leave_review',how='left')

In [117]:
legendDF_final

,work_zip,home_zip,gender,age,race,income,days_last_haircut,time_between_haircut,products,did_spend,...,gender_values,race_values,income_values,days_last_values,time_between_values,products_values,spend_values,max_spend_values,how_find_values,review_values
0,92614,92614,Male,38.0,Asian / Pacific Islander,"Less than $25,000",1 week,3 weeks,No,40 +,...,1,1.0,1.0,1.0,3.0,0,5.0,5.0,3.0,1.0
1,92660,92677,Male,34.0,White,"$75,000 to $99,999",6 weeks,3+ months,No,40 +,...,1,4.0,5.0,6.0,7.0,0,5.0,7.0,2.0,2.0
2,92612,92602,Female,35.0,White,"$50,000 to $74,999",1 year,3+ months,Yes,40 +,...,0,4.0,4.0,NaN,7.0,1,5.0,NaN,3.0,2.0
3,92620,92780,Male,35.0,Asian / Pacific Islander,"$50,000 to $74,999",1 week,3 weeks,Yes,40 +,...,1,1.0,4.0,1.0,3.0,1,5.0,6.0,3.0,3.0
4,97205,97205,Male,38.0,White,"$50,000 to $74,999",1 week,6 weeks,No,40 +,...,1,4.0,4.0,1.0,6.0,0,5.0,5.0,4.0,3.0
5,92627,92697,Male,33.0,White,"$35,000 to $49,999",1 week,1 month,Yes,40 +,...,1,4.0,3.0,1.0,4.0,1,5.0,7.0,NaN,1.0
6,92867,92602,Male,24.0,Asian / Pacific Islander,"$35,000 to $49,999",2 months ago,1 month,No,40 +,...,1,1.0,3.0,5.0,4.0,0,5.0,NaN,2.0,2.0
7,92782,92782,Male,54.0,White,"$200,000 or more",2 weeks,5 weeks,No,40 +,...,1,4.0,8.0,2.0,NaN,0,5.0,7.0,2.0,2.0
8,94404,94115,Male,38.0,Asian / Pacific Islander,"$150,000 to $199,999",1 month,2 months,Yes,40 +,...,1,1.0,7.0,4.0,NaN,1,5.0,6.0,2.0,2.0
9,92660,92661,Male,48.0,White,"$100,000 to $149,999",3+ months,3+ months,No,40 +,...,1,4.0,6.0,7.0,7.0,0,5.0,5.0,1.0,2.0
10,92660,92627,Male,32.0,White,"$100,000 to $149,999",1 month,1 month,Yes,40 +,...,1,4.0,6.0,4.0,4.0,1,5.0,5.0,2.0,2.0
11,90041,91730,Male,37.0,Asian / Pacific Islander,"$100,000 to $149,999",2 weeks,2 weeks,Yes,40 +,...,1,1.0,6.0,2.0,2.0,1,5.0,7.0,NaN,2.0
12,92612,92620,Male,35.0,Asian / Pacific Islander,"$75,000 to $99,999",1 week,3 weeks,No,31 - 40,...,1,1.0,5.0,1.0,3.0,0,4.0,6.0,2.0,3.0
13,90505,90703,Male,31.0,Asian / Pacific Islander,"$75,000 to $99,999",1 week,3 weeks,No,31 - 40,...,1,1.0,5.0,1.0,3.0,0,4.0,4.0,3.0,2.0
14,92618,92620,Male,38.0,Asian / Pacific Islander,"$200,000 or more",1 week,3 weeks,No,31 - 40,...,1,1.0,8.0,1.0,3.0,0,4.0,5.0,2.0,2.0
15,92122,92037,Male,32.0,White,"$150,000 to $199,999",3 weeks,6 weeks,No,31 - 40,...,1,4.0,7.0,3.0,6.0,0,4.0,5.0,1.0,3.0
16,94080,94080,Male,35.0,Asian / Pacific Islander,"$100,000 to $149,999",1 month,1 month,No,31 - 40,...,1,1.0,6.0,4.0,4.0,0,4.0,4.0,3.0,3.0
17,92697,92656,Male,36.0,White,"$100,000 to $149,999",3 weeks,1 month,No,31 - 40,...,1,4.0,6.0,3.0,4.0,0,4.0,4.0,1.0,2.0
18,92660,92618,NaN,NaN,NaN,NaN,2 weeks,6 weeks,Yes,31 - 40,...,NaN,NaN,NaN,2.0,6.0,1,4.0,6.0,3.0,2.0
19,94710,94107,Male,41.0,White,NaN,3 weeks,6 weeks,No,31 - 40,...,1,4.0,NaN,3.0,6.0,0,4.0,5.0,4.0,1.0
20,91324,91770,Male,22.0,Asian / Pacific Islander,"Less than $25,000",3 weeks,1 month,Yes,21 - 30,...,1,1.0,1.0,3.0,4.0,1,3.0,3.0,2.0,2.0
21,92870,91776,Male,22.0,Asian / Pacific Islander,"Less than $25,000",2 weeks,1 month,Yes,21 - 30,...,1,1.0,1.0,2.0,4.0,1,3.0,3.0,2.0,3.0
22,91403,91733,Male,21.0,Asian / Pacific Islander,"Less than $25,000",2 weeks,3 weeks,No,21 - 30,...,1,1.0,1.0,2.0,3.0,0,3.0,3.0,2.0,3.0
23,92740,92647,Male,33.0,White,"$75,000 to $99,999",3 weeks,2 months,Yes,21 - 30,...,1,4.0,5.0,3.0,NaN,1,3.0,3.0,1.0,2.0
24,92618,92618,Female,33.0,Black or African American,"$75,000 to $99,999",3+ months,2 months,No,21 - 30,...,0,2.0,5.0,7.0,NaN,0,3.0,NaN,2.0,3.0
25,92606,92701,Male,28.0,White,"$75,000 to $99,999",1 week,1 month,No,21 - 30,...,1,4.0,5.0,1.0,4.0,0,3.0,3.0,1.0,3.0
26,92656,92602,Male,24.0,Asian / Pacific Islander,"$75,000 to $99,999",1 week,1 month,Yes,21 - 30,...,1,1.0,5.0,1.0,4.0,1,3.0,7.0,3.0,2.0
27,90620,92780,Male,NaN,Hispanic or Latino,"$75,000 to $99,999",3+ months,3 weeks,No,21 - 30,...,1,3.0,5.0,7.0,3.0,0,3.0,7.0,2.0,1.0
28,94720,94609,Male,38.0,Asian / Pacific Islander,"$50,000 to $74,999",1 month,6 weeks,No,21 - 30,...,1,1.0,4.0,4.0,6.0,0,3.0,4.0,2.0,2.0
29,91367,91344,Male,26.0,Asian / Pacific Islander,"$50,000 to $74,999",1 month,2 months,No,21 - 30,...,1,1.0,4.0,4.0,NaN,0,3.0,3.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,92821,91766,Male,26.0,White,"$50,000 to $74,999",3 weeks,4 weeks,No,11 - 20,...,1,4.0,4.0,3.0,NaN,0,2.0,3.0,2.0,2.0
56,92618,92614,Male,24.0,Asian / Pacific Islander,"$50,000 to $74,999",2 weeks,3 weeks,No,11 - 20,...,1,1.0,4.0,2.0,3.0,0,2.0,2.0,2.0,2.0
57,91010,91106,Male,39.0,Asian / Pacific Islander,"$50,000 to $74,999",1 week,2 weeks,No,11 - 20,...,1,1.0,4.0,1.0,2.0,0,2.0,3.0,2.0,2.0
58,98052,8125,Male,23.0,White,"$50,000 to $74,999",1 month,6 weeks,No,11 - 20,...,1,4.0,4.0,4.0,6.0,0,2.0,3.0,3.0,3.0
59,92618,92683,Male,28.0,Asian / Pacific Islander,"$35,000 to $49,999",2 weeks,2 months,No,11 - 20,...,1,1.0,3.0,2.0,NaN,0,2.0,2.0,3.0,3.0
60,92121,92009,Male,30.0,Asian / Pacific Islander,"$25,000 to $34,999",1 month,1 month,Yes,11 - 20,...,1,1.0,2.0,4.0,4.0,1,2.0,3.0,3.0,1.0
61,93003,93021,Male,45.0,White,"$200,000 or more",6 weeks,6 weeks,No,11 - 20,...,1,4.0,8.0,6.0,6.0,0,2.0,2.0,1.0,3.0
62,94301,94568,Male,39.0,Asian / Pacific Islander,"$150,000 to $199,999",2 weeks,2 weeks,No,11 - 20,...,1,1.0,7.0,2.0,2.0,0,2.0,3.0,1.0,2.0
63,90745,90706,Male,28.0,White,"$150,000 to $199,999",2 months ago,3+ months,No,11 - 20,...,1,4.0,7.0,5.0,7.0,0,2.0,3.0,3.0,3.0
64,92832,92832,Male,35.0,Asian / Pacific Islander,"$100,000 to $149,999",3 weeks,1 month,No,11 - 20,...,1,1.0,6.0,3.0,4.0,0,2.0,7.0,1.0,2.0
65,92822,92612,Male,39.0,Asian / Pacific Islander,"$100,000 to $149,999",1 week,7 weeks,No,11 - 20,...,1,1.0,6.0,1.0,NaN,0,2.0,2.0,1.0,2.0
66,95054,94541,Male,30.0,Asian / Pacific Islander,NaN,1 week,3 weeks,No,11 - 20,...,1,1.0,NaN,1.0,3.0,0,2.0,2.0,2.0,1.0
67,92131,92123,Male,35.0,Asian / Pacific Islander,"$35,000 to $49,999",1 week,1 week,No,0 - self cut,...,1,1.0,3.0,1.0,1.0,0,NaN,4.0,NaN,2.0
68,92843,92843,Male,23.0,Asian / Pacific Islander,"Less than $25,000",2 weeks,3+ months,No,10,...,1,1.0,1.0,2.0,7.0,0,1.0,1.0,1.0,2.0
69,92708,92703,Male,23.0,Asian / Pacific Islander,"Less than $25,000",2 weeks,2 weeks,No,10,...,1,1.0,1.0,2.0,2.0,0,1.0,2.0,NaN,2.0
70,94024,94040,Male,33.0,Asian / Pacific Islander,"$75,000 to $99,999",3+ months,3+ months,No,10,...,1,1.0,5.0,7.0,7.0,0,1.0,4.0,2.0,2.0
71,92675,90803,Female,37.0,White,"$50,000 to $74,999",1 month,3+ months,No,10,...,0,4.0,4.0,4.0,7.0,0,1.0,6.0,NaN,3.0
72,92806,92806,Male,30.0,White,"$50,000 to $74,999",1 week,2 weeks,No,10,...,1,4.0,4.0,1.0,2.0,0,1.0,2.0,1.0,2.0
73,91746,92880,Male,35.0,Asian / Pacific Islander,"$25,000 to $34,999",1 week,2 weeks,No,10,...,1,1.0,2.0,1.0,2.0,0,1.0,1.0,2.0,2.0
74,20815,20816,Male,32.0,Asian / Pacific Islander,"$200,000 or more",1 week,2 weeks,No,10,...,1,1.0,8.0,1.0,2.0,0,1.0,1.0,NaN,3.0
75,92612,90807,Male,32.0,Asian / Pacific Islander,"$150,000 to $199,999",3 weeks,6 weeks,No,10,...,1,1.0,7.0,3.0,6.0,0,1.0,NaN,NaN,1.0
76,92647,92647,Male,NaN,NaN,NaN,2 weeks,3 weeks,No,10,...,1,NaN,NaN,2.0,3.0,0,1.0,2.0,2.0,2.0
77,90025,90025,Male,32.0,White,"$200,000 or more",1 week,1 week,No,5,...,1,4.0,8.0,1.0,1.0,0,NaN,3.0,NaN,NaN
78,92618,92627,Male,30.0,White,"$75,000 to $99,999",3 weeks,3 weeks,No,0,...,1,4.0,5.0,3.0,3.0,0,NaN,2.0,NaN,2.0
79,94105,94546,Male,34.0,Asian / Pacific Islander,"$75,000 to $99,999",3 weeks,2 weeks,No,0,...,1,1.0,5.0,3.0,2.0,0,NaN,4.0,NaN,3.0
80,10019,10028,Male,32.0,Asian / Pacific Islander,"$100,000 to $149,999",1 week,1 week,No,0,...,1,1.0,6.0,1.0,1.0,0,NaN,2.0,NaN,2.0
81,91745,91724,Male,38.0,Hispanic or Latino,"$50,000 to $74,999",3+ months,3 weeks,No,11 - 20,...,1,3.0,4.0,7.0,3.0,0,2.0,2.0,3.0,2.0
82,90245,90275,Male,39.0,Asian / Pacific Islander,"$200,000 or more",2 weeks,6 weeks,No,11 - 20,...,1,1.0,8.0,2.0,6.0,0,2.0,3.0,1.0,2.0
83,90010,91344,Male,27.0,White,"Less than $25,000",3 weeks,1 month,No,$5,...,1,4.0,1.0,3.0,4.0,0,NaN,2.0,NaN,2.0
84,90401,90034,Male,28.0,Hispanic or Latino,"$75,000 to $99,999",1 week,6 weeks,No,40 +,...,1,3.0,5.0,1.0,6.0,0,5.0,6.0,1.0,2.0

In [118]:
legendDF_values = legendDF_final[['work_zip','home_zip','gender_values','age','race_values','income_values','days_last_values','time_between_values','products_values','spend_values','max_spend_values','how_find_values','review_values','price','convenient','atmosphere','amenities']]

In [119]:
legendDF_values

,work_zip,home_zip,gender_values,age,race_values,income_values,days_last_values,time_between_values,products_values,spend_values,max_spend_values,how_find_values,review_values,price,convenient,atmosphere,amenities
0,92614,92614,1,38.0,1.0,1.0,1.0,3.0,0,5.0,5.0,3.0,1.0,4,4,4,1
1,92660,92677,1,34.0,4.0,5.0,6.0,7.0,0,5.0,7.0,2.0,2.0,5,3,3,1
2,92612,92602,0,35.0,4.0,4.0,NaN,7.0,1,5.0,NaN,3.0,2.0,5,5,4,4
3,92620,92780,1,35.0,1.0,4.0,1.0,3.0,1,5.0,6.0,3.0,3.0,3,5,4,4
4,97205,97205,1,38.0,4.0,4.0,1.0,6.0,0,5.0,5.0,4.0,3.0,4,2,3,2
5,92627,92697,1,33.0,4.0,3.0,1.0,4.0,1,5.0,7.0,NaN,1.0,4,3,5,2
6,92867,92602,1,24.0,1.0,3.0,5.0,4.0,0,5.0,NaN,2.0,2.0,2,2,5,5
7,92782,92782,1,54.0,4.0,8.0,2.0,NaN,0,5.0,7.0,2.0,2.0,3,4,3,2
8,94404,94115,1,38.0,1.0,7.0,4.0,NaN,1,5.0,6.0,2.0,2.0,4,2,3,3
9,92660,92661,1,48.0,4.0,6.0,7.0,7.0,0,5.0,5.0,1.0,2.0,3,5,2,1
10,92660,92627,1,32.0,4.0,6.0,4.0,4.0,1,5.0,5.0,2.0,2.0,1,4,2,2
11,90041,91730,1,37.0,1.0,6.0,2.0,2.0,1,5.0,7.0,NaN,2.0,3,4,2,2
12,92612,92620,1,35.0,1.0,5.0,1.0,3.0,0,4.0,6.0,2.0,3.0,4,3,4,4
13,90505,90703,1,31.0,1.0,5.0,1.0,3.0,0,4.0,4.0,3.0,2.0,4,4,5,2
14,92618,92620,1,38.0,1.0,8.0,1.0,3.0,0,4.0,5.0,2.0,2.0,4,5,3,3
15,92122,92037,1,32.0,4.0,7.0,3.0,6.0,0,4.0,5.0,1.0,3.0,2,3,2,1
16,94080,94080,1,35.0,1.0,6.0,4.0,4.0,0,4.0,4.0,3.0,3.0,3,5,1,3
17,92697,92656,1,36.0,4.0,6.0,3.0,4.0,0,4.0,4.0,1.0,2.0,4,4,3,1
18,92660,92618,NaN,NaN,NaN,NaN,2.0,6.0,1,4.0,6.0,3.0,2.0,3,4,4,4
19,94710,94107,1,41.0,4.0,NaN,3.0,6.0,0,4.0,5.0,4.0,1.0,4,4,2,1
20,91324,91770,1,22.0,1.0,1.0,3.0,4.0,1,3.0,3.0,2.0,2.0,5,5,4,3
21,92870,91776,1,22.0,1.0,1.0,2.0,4.0,1,3.0,3.0,2.0,3.0,5,5,4,3
22,91403,91733,1,21.0,1.0,1.0,2.0,3.0,0,3.0,3.0,2.0,3.0,1,5,3,5
23,92740,92647,1,33.0,4.0,5.0,3.0,NaN,1,3.0,3.0,1.0,2.0,4,5,4,4
24,92618,92618,0,33.0,2.0,5.0,7.0,NaN,0,3.0,NaN,2.0,3.0,2,3,3,3
25,92606,92701,1,28.0,4.0,5.0,1.0,4.0,0,3.0,3.0,1.0,3.0,4,5,2,1
26,92656,92602,1,24.0,1.0,5.0,1.0,4.0,1,3.0,7.0,3.0,2.0,4,5,5,1
27,90620,92780,1,NaN,3.0,5.0,7.0,3.0,0,3.0,7.0,2.0,1.0,3,5,4,3
28,94720,94609,1,38.0,1.0,4.0,4.0,6.0,0,3.0,4.0,2.0,2.0,3,4,4,3
29,91367,91344,1,26.0,1.0,4.0,4.0,NaN,0,3.0,3.0,2.0,2.0,3,4,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,92821,91766,1,26.0,4.0,4.0,3.0,NaN,0,2.0,3.0,2.0,2.0,4,4,1,2
56,92618,92614,1,24.0,1.0,4.0,2.0,3.0,0,2.0,2.0,2.0,2.0,5,4,3,3
57,91010,91106,1,39.0,1.0,4.0,1.0,2.0,0,2.0,3.0,2.0,2.0,4,5,4,4
58,98052,8125,1,23.0,4.0,4.0,4.0,6.0,0,2.0,3.0,3.0,3.0,4,4,1,1
59,92618,92683,1,28.0,1.0,3.0,2.0,NaN,0,2.0,2.0,3.0,3.0,5,5,2,1
60,92121,92009,1,30.0,1.0,2.0,4.0,4.0,1,2.0,3.0,3.0,1.0,4,5,4,1
61,93003,93021,1,45.0,4.0,8.0,6.0,6.0,0,2.0,2.0,1.0,3.0,5,5,2,1
62,94301,94568,1,39.0,1.0,7.0,2.0,2.0,0,2.0,3.0,1.0,2.0,5,5,4,2
63,90745,90706,1,28.0,4.0,7.0,5.0,7.0,0,2.0,3.0,3.0,3.0,3,4,2,1
64,92832,92832,1,35.0,1.0,6.0,3.0,4.0,0,2.0,7.0,1.0,2.0,3,1,1,2
65,92822,92612,1,39.0,1.0,6.0,1.0,NaN,0,2.0,2.0,1.0,2.0,3,4,3,1
66,95054,94541,1,30.0,1.0,NaN,1.0,3.0,0,2.0,2.0,2.0,1.0,5,2,2,2
67,92131,92123,1,35.0,1.0,3.0,1.0,1.0,0,NaN,4.0,NaN,2.0,5,5,3,3
68,92843,92843,1,23.0,1.0,1.0,2.0,7.0,0,1.0,1.0,1.0,2.0,5,4,4,3
69,92708,92703,1,23.0,1.0,1.0,2.0,2.0,0,1.0,2.0,NaN,2.0,4,4,3,2
70,94024,94040,1,33.0,1.0,5.0,7.0,7.0,0,1.0,4.0,2.0,2.0,5,5,5,3
71,92675,90803,0,37.0,4.0,4.0,4.0,7.0,0,1.0,6.0,NaN,3.0,2,1,2,1
72,92806,92806,1,30.0,4.0,4.0,1.0,2.0,0,1.0,2.0,1.0,2.0,4,5,4,3
73,91746,92880,1,35.0,1.0,2.0,1.0,2.0,0,1.0,1.0,2.0,2.0,5,5,5,5
74,20815,20816,1,32.0,1.0,8.0,1.0,2.0,0,1.0,1.0,NaN,3.0,5,5,1,1
75,92612,90807,1,32.0,1.0,7.0,3.0,6.0,0,1.0,NaN,NaN,1.0,5,1,1,1
76,92647,92647,1,NaN,NaN,NaN,2.0,3.0,0,1.0,2.0,2.0,2.0,4,4,4,1
77,90025,90025,1,32.0,4.0,8.0,1.0,1.0,0,NaN,3.0,NaN,NaN,4,4,3,2
78,92618,92627,1,30.0,4.0,5.0,3.0,3.0,0,NaN,2.0,NaN,2.0,4,4,2,1
79,94105,94546,1,34.0,1.0,5.0,3.0,2.0,0,NaN,4.0,NaN,3.0,3,2,4,4
80,10019,10028,1,32.0,1.0,6.0,1.0,1.0,0,NaN,2.0,NaN,2.0,5,5,5,2
81,91745,91724,1,38.0,3.0,4.0,7.0,3.0,0,2.0,2.0,3.0,2.0,5,5,2,2
82,90245,90275,1,39.0,1.0,8.0,2.0,6.0,0,2.0,3.0,1.0,2.0,4,5,3,3
83,90010,91344,1,27.0,4.0,1.0,3.0,4.0,0,NaN,2.0,NaN,2.0,4,4,2,3
84,90401,90034,1,28.0,3.0,5.0,1.0,6.0,0,5.0,6.0,1.0,2.0,3,3,3,1